body {
    background-image: url('../img/bg-dp.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #1a1a1a;
}